body {
    background-color: rgb(102,216,255);
    font-family: "IBM Plex Sans Thai", sans-serif;
}

.h1 {
    text-align: center;
    padding-top: 20px;
}

.box-header {
    background-color: white;
    width: 400px;
    height: 200px;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}
.box-aboutme {
    height: 100px;
    padding: 20px;
    margin: auto;
    margin-top: 20px;
    border-radius: 20px;
}

